.shop {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
}

.shop__container {
  padding-bottom: 10px;
}

.shop__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  justify-items: center;
  z-index: 1;
  padding: 0 20px;
}

.shop__image {
  width: 100%;
  z-index: -10;
  margin-bottom: -24%;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

@media screen and (max-width: 1200px) {
  .shop {
    max-width: 97%;
  }
  .shop__row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 940px) {
  .shop__row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .shop__row {
    grid-template-columns: 1fr;
  }
}
