.footerColumn {
  color: white;
  width: 250px;
}

.footerColumn > h3 {
  font-size: 16px;
  font-weight: 800;
  padding: 10px 0;
  color:white;
}

.footerColumn > ul {
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
}

.footerColumn > ul > li {
  padding: 5px 0;
  color: #dddddd;
}

.footerColumn > ul > li > a:hover {
  border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 900px) {
  .footerColumn {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footerColumn > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .footerColumn > ul > li {
    font-size: 12px;
  }
}
