.categoryBanner {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  max-height: 280px;
  z-index: 1;
  box-sizing: border-box;
  margin: 10px 20px;
  padding: 20px;
}

.banner__title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.banner__title > span {
  align-self: flex-end;
}

.banner__title > span > h2 {
  margin-right: 20px;
  font-weight: 500;
  font-size: 22px;
  color: #444444;
}

.banner__title > span > a {
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  color: #007185;
}

.banner__title > span > a:hover {
  text-decoration: underline;
  color: #c7511f;
}

.banner__images {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

.banner__images > img {
  object-fit: contain;
  height: 100%;
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .banner__images {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 650px) {
  .banner__title {
    justify-content: space-between;
  }

  .banner__title > span > h2 {
    font-size: 15px;
  }

  .banner__title > span > a {
    font-size: 14px;
  }
}
