.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 0 20px;
    width: 100%;
    max-height: 450px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    box-sizing: border-box;
  }
  
.product__info {
    height: 100px;
    margin-bottom: 15px;
  }
  
.product__info > p {
    margin: 5px 0;
}

.product__title {
  color: #0066c0;
  font-size: 14px;
  font-weight: 500;
}

.product__title:hover {
  text-decoration: underline;
  color: #c7511f;
  cursor: pointer;
}

.product__price {
    margin-top: 5px;
    font-weight: 100;
    font-size: 18px;
    color: #cc1c39;
    margin-top: 5px;
  }

.product__rating {
    display: flex;
    color: #ffac00;
    /* margin-bottom: 20px; */
    align-items: center;
}

.product__rating > span {
  font-size: 12px;
  color: black;
}

.product > img {
    /* max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px; */
    height: 40%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    font-size: 13px;
    padding: 7px;
    width: 100%;
  }
  
.product > button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #fddb85, #eeba38);
}
  
@media screen and (max-width: 1200px) {
  .product:last-child {
    display: none;
  }
}
  