.categoryRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  z-index: 1;
  margin: 0;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  .categoryRow {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 780px) {
  .categoryRow {
    grid-template-columns: 1fr;
  }
}
